<% provide(:title, "Home") %>

<div id="content">
<p>This site is a visual and textual journal of my daily life. In an effort to make this a collaborative project, I invite you to submit a textual/visual description of a day <a href=/submit>here</a>.
<p>Return home to start a new day...</p></div>
<%= image_tag("js_logo.png", class: "home_img", alt: "logo of my initials JS") %>
