// Place all the styles related to the subpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: rgb(50, 91,  109);
    font-weight: bold;
    letter-spacing: 1rem;
    margin-top: 10%;
    margin-left: 10%;
}

.where_img {
    width: 50%;   
}

.thumbnail {
    width: 100px;
    margin-bottom: 50px;
    margin-right: 30px;
}

#submitform {
    font-size: 24px;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
}