<% provide(:title, "Submit") %>

<div class="content">
<h2>Submit a day:</h2>

<form method="post" class="submitform">
<div>
    <label for="what">what are you doing?</label>
    <input name="What" id="what" value="">
    
    <label for="where">in what file can we see this day?</label>
    <input name="Where" id="where" value="">

    
  </div>
</form>
